*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea
/.idea
caches/8.10.2/groovy-dsl/5b5308bfe65a83ab275e47765a99c555/classes/init/_BuildScript_.class
/caches/8.10.2/transforms/0b19ee55f600b3156f6e9f1863143188/transformed
/caches
