*.iml
.gradle
/local.properties
**/.idea/workspace.xml
**/.idea/tasks.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/
/.kotlin/sessions
/.kotlin/errors
*.salive
.idea/
